@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container header{
    font-size: 47px;
    text-align: center;
}

body{
    width: fit-content;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.82);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.form {
    box-sizing:border-box;
    background: transparent;

}

.btn{
    list-style: none;
    display: inline-block;
    padding: .9rem 3.5rem;
    font-size: 2rem;
    background: none;
    color: rgb(0, 0, 0);
    box-shadow: 0 .5rem 1rem rgb(26 0 0 / 90%);
    border-radius: 29px;

}

.container{

    justify-items: center;
    justify-content: center;
    text-align: center;
}

.btn{
    cursor: pointer;
    margin-top: 39px;
}

.footer{
    color:rgb(17, 15, 15) ;
    text-align: center;
    margin-top: 700px;
    background: rgb(207, 207, 207) !important;
    font-size: 23px;
    justify-content: center;
    justify-items: center;
}
span{
    color:red;
}

.btn:hover{
    color: aqua;
    font-size: 50px;
    border: none;
}

.btn{
    text-decoration: none;
}

.content{
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
}

iframe{
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
}


